@model MvcAutoAuction.Models.Bid

@{
    ViewBag.Title = "BiddingSummary";
}

<h2>Bidding Summary</h2>

<p>Thanks for placing Your Bid!</p>

<p>How about checking out more cars in our 
    @Html.ActionLink("catalog", "Index", "Home")
</p>
