@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>How about checking out some more cars in our
    @Html.ActionLink("catalog", "Index", "Home")
</p>
